.header {
  width: 100%;                  /* ← додано */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #000000;
  border-bottom: 1px solid #333;
  box-sizing: border-box;       /* ← додано */
  position: sticky;
top: 0;
z-index: 1000;

}


.header__logo a {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.header__nav a {
  margin-left: 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.header__nav a:hover {
  color: #68a0ff;
}

.login-btn {
  font-weight: bold;
  color: #00c7ff;
}
