#root {
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #222;
  font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
